<% if 2+2 != 4 %>
<div class="foodsMainContainer">
  <div class="foodsHeadings">
    <p>Food</p>
    <p>Mesurment Unit</p>
    <p>Unit Price</p>
    <p>Action</p>
  </div>
  <ul class="foodsList">
    <%@foods.each do |food|%>
      <li class="foodsListItem">
        <div class="itemOne">
          <p>
            <%= food.name%>
          </p>
        </div>
        <div class="itemTwo">
          <p>
            <%= food.measurement_unit%>
          </p>
        </div>
        <div class="itemThree">
          <p>
            <%= food.quantity%>
          </p>
        </div>
        <div class="itemFour">
          <button>
            Delete
          </button>
        </div>
      </li>
    <%end%>
  </ul>
</div>
<% end %>

<%= link_to "New Food", new_user_food_path %>

<table class=table>
<tr>
  <th>Food</th>
  <th>Mesurment Unit</th>
  <th>Unit Price</th>
  <th>Action</th>
</tr>
<% @foods.each do |food| %>
<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.price %></td>
  <td><%= link_to 'DELETE' %></td>
</tr>
<% end %>
</table>


