<div class=form-holder>
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, class: "area", placeholder: "Name", autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, class: "area", placeholder: "Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, class: "area", placeholder: "Password (#{@minimum_password_length}) characters minimum", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: "area", placeholder: "Confirm Password", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "sign-up", data: { turbo:false } %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>