<%= "Hi #{current_user.name}, would you like to add a recipe?" %><br>
<%= link_to 'Add Recipe', new_user_recipe_path %>

<% @recipes.each_with_index do |recipe, idx| %>
  <%= link_to new_user_recipe_path(current_user) do %>
    <div class=index-container>
      <div class=recipe-card>
        <div class=left-box>
          <p><%= "RECIPE #{idx+1}" %></p>
          <h2><%= recipe.name %></h2>
          <%= link_to 'REMOVE' %>
        </div>
        <div class=right-box>
          <%= recipe.description %>
        </div>
      </div>
    </div>
  <% end %>
<%end%>
