<header>
  <div class=container>
    <nav class="navBar">
      <div class="navWellcome">
        <h1>Welcome to Recipe App</h1>
        <p class="wellcomeMsg">
          you are logged in as: <%= current_user.email %>
        </p>
      </div>
      <ul class="navLinks">
        <li><%= link_to 'FOODS', food_index_path, class: "navLink" %></li>
        <li><%= link_to 'RECIPES', recipe_index_path, class: "navLink" %></li>
        <li><%= link_to 'PUBLIC RECIPES', public_recipe_index_path, class: "navLink" %></li>
        <% if user_signed_in? %>
          <li><%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete, data: {turbo: false}, class: "signOutBtn" %></li>
        <% else %>
          <li><%= link_to 'SIGN IN' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
